html, body {
    margin: 0;
    height: 100%;   
    background: #414d0b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #8c1eff, #ffd319);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #8c1eff, #ffd319); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.principal {
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    text-align: center;
}

.skills h2, h3{
    text-align: center;
}

.footer {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

